//magic.usw-3.palantirfoundry.com/artifacts/api/:_authToken=${FOUNDRY_TOKEN}
@ai-assistant-third-party-app:registry=https://magic.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.33a95ed9-44f5-4f8b-b86c-8e8bc499234e/contents/release/npm/